.Titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: 0 30px;
    border: 2px black solid;
    border-top: 0;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
}